# Whoosh index artifacts
index/*
!index/.gitkeep
!index/whoosh_index/
index/whoosh_index/*
!index/whoosh_index/.gitkeep
write.lock

# main data
*data/raw/wiki-subset-20140602*

# Python cache and virtualenvs
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
env/

# Build artifacts
build/
dist/
out/
bin/

# IDEs
.idea/
.vscode/
.settings/
.project
.classpath
*.DS_Store*
